<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if message%}
 {{message}}
{%endif%}
<form method="post">
    <label>
        <input type="text" name="username" placeholder="please input username">
    </label><br/><br/>
    <label>
        <input type="password" name="password" placeholder="please input password">
    </label><br/><br/>

    <input type="submit" value="submit">
    <input type="reset" value="result">




</form>


</body>
</html>